<div class="container">
  <h1>Last 10 Tweets</h1>
  <p>Get the last 10 tweets from a given username.</p>

  <form action="/" method="POST">
    Twitter Handle:<input type="text" name="twitter_username">
    <input type="submit" value="Grab Tweets">
  </form>
</div>
